ZXTests/bin
.vs
ZXTests/obj
LLNToAnki/bin/Debug
LLNToAnki/obj
*.dll
*.pdb
*.cache
.vs/*
/LLNToAnki.sln.DotSettings.user
/ZXTests/Data/tmp_export.txt
/LLNToAnki.sln.DotSettings.user
/.vs/LLNToAnki/DesignTimeBuild/.dtbcache.v2
/ZXTests/Data/tmp_export.txt
/Dictionaries
/LLNToAnki.sln.DotSettings.user
/ZXTests/Data/WR/bread.htm
/ZXTests/Data/tmp/SingleWord_squeeze_ExpectedNote.txt
/ZXTests/Data/tmp/SingleWord_wagging_ExpectedNote.txt
/ZXTests/Data/tmp/TwoWords_backbench_disregard_ExpectedNote.txt
/ZXTests/Data/tmp/brood.html
/ZXTests/tmp.html
/FE/LLNToAnki.WPF/obj/Debug/
/FE/LLNToAnki.WPF/bin/Debug/
/BE/LLNToAnki.Domain/obj/Debug/
/BE/LLNToAnki.Domain/bin/Debug/
/BE/LLNToAnki.Infrastructure/obj/Debug/
