ZXTests/bin
.vs
ZXTests/obj
LLNToAnki/bin/Debug
LLNToAnki/obj
*.dll
*.pdb
*.cache
.vs/*
/LLNToAnki.sln.DotSettings.user
/ZXTests/Data/tmp_export.txt
/LLNToAnki.sln.DotSettings.user
/.vs/LLNToAnki/DesignTimeBuild/.dtbcache.v2
/ZXTests/Data/tmp_export.txt
/Dictionaries
/LLNToAnki.sln.DotSettings.user
/ZXTests/Data/WR/bread.htm
